.SideBarAdmin__link {
    color: #fff;
    font-size: 1.2rem;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    
    
    //hiệu ứng màu khi di chuyển mouse
    &:hover {
        background-color: #46546c;
    }

    .SideBarAdmin__link-icon {
        font-size: 2rem;
        margin-right: 4px;
    }
}
  //hiệu ứng màu khi phần tử được mouse cl
.active {
    background-color: #46546c;
}